:root {
  --dark-blue: #24436f;
  --secondary-dark-blue: #345584;
  --light-blue: #3081c9;
  --gray: #a2a2a2;

  --content-width: 1126px;
}

#container {
  display: grid;
  width: 100%;
  grid-template-rows: 75px 36px 263px auto 356px;
}

#header {
  background-color: var(--dark-blue);
}

.header-inner {
  height: 100%;
  width: var(--content-width);
  margin: 0 auto;
}

.main-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.logo-site-summary {
  display: flex;
  align-items: center;
}

.logo-site-summary > h1 {
  color: #bfc9d7;
  font-size: 12px;
  margin-left: 20px;
}

.media-company-login-keyword-search-feild {
  display: flex;
  align-items: center;
}
.media-company-login {
  display: flex;
  align-items: center;
  background-color: var(--secondary-dark-blue);
  padding: 5px 15px;
  border-radius: 4px;
  position: relative;
  margin-right: 10px;
  color: #ffffff;
  font-size: 13px;
}
.media-company-login > a {
  color: #ffffff;
  font-size: 13px;
}

.media-company-login li {
  display: flex;
  align-items: center;
}
.media-company-login li + li::before {
  content: "";
  display: "block";
  border-right: 1px solid white;
  width: 1px;
  height: 12px;
  margin: 0 5px;
}
.media-company-login a {
  font-size: 13px;
  display: block;
}

.keyword-search-feild {
  display: flex;
  align-items: center;
}
.keyword-search-feild > input {
  background-color: #ffffff;
  height: 30px;
  width: 258px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0 1.5rem;
  font-size: 1.4rem;
}

.keyword-search-feild > button {
  display: flex;
  background-color: var(--light-blue);
  width: 30px;
  height: 30px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-image: url("https://prtimes.jp/src/images/prtimes-jp/html/icon_search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sub-header-content {
  color: #bfc9d7;
  font-size: 13px;
  margin-top: 9px;
  display: flex;
  align-items: center;
}

.sub-header-content li {
  display: flex;
  align-items: center;
}
.sub-header-content li + li::before {
  content: "";
  display: block;
  border-right: 1px solid white;
  width: 1px;
  height: 1rem;
  margin: 0 5px;
}
.sub-header-content > a {
  font-size: 13px;
  color: #ffffff;
  display: block;
}

.sub-header-content > * + * {
  margin-left: 3px;
}

.active-sub-header-content {
  color: white;
  font-weight: bold;
}

#category-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#category-header > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 837px;
  color: #294c7a;
  font-size: 13px;
  gap: 20px;
}

.active-category {
  font-weight: bold;
}

#ranking {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ranking > ol {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: var(--content-width);
  gap: 8px;
}

#ranking > ol > li {
  height: 218px;
  width: 181px;
  background-color: #ffffff;
}

.press-release-vertical-card {
  position: relative;
}
.press-release-vertical-card > img {
  height: 100px;
  width: 181px;
  object-fit: contain;
}
#ranking > ol > li {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.vertical-card-rank-number {
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
}

.vertical-card-title {
  display: -webkit-box;
  width: 100%;
  height: 58px;
  font-size: 13px;
  overflow: hidden;
  word-wrap: break-word;
  line-break: normal;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 18px;
  margin: 0 auto;
  padding: 5px 0;
  width: 161px;
}

.vertical-card-detail {
  margin: 5px auto 0 auto;
  width: 161px;
  display: flex;
  flex-direction: column;
}

.vertical-card-detail > time {
  font-size: 12px;
  color: #a2a2a2;
  display: flex;
  align-items: center;
}

.vertical-card-detail time::before {
  content: url(https://prtimes.jp/src/images/prtimes-jp/html/icon_time.svg);
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.vertical-card-company-name {
  font-size: 13px;
  color: #a2a2a2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 12px;
}
.vertical-card-pv {
  font-size: 12px;
  color: #a2a2a2;
}

#main {
  width: var(--content-width);
  display: flex;
  margin: 50px auto 100px auto;
  justify-content: space-between;
  gap: 35px;
}

.press-release-list {
  width: 778px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.press-release-items > article > img {
  object-fit: contain;
  width: 100px;
  height: 66px;
}
.press-release-list > h2 {
  font-size: 24px;
  font-weight: bold;
  color: #3b3b3b;
  margin-bottom: 20px;
}
.press-release-items {
  display: flex;
  gap: 15px 18px;
  flex-wrap: wrap;
}

.press-release-items article {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e4e4e4;
  width: 380px;
  height: 118px;
  padding-bottom: 17px;
  gap: 15px 18px;
}

.press-release-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 265px;
}
.press-release-detail > h3 {
  font-size: 14px;
  height: 66px;
}

.press-release-time-company {
  color: var(--gray);
  display: flex;
  align-items: center;
  font-size: 13px;
  width: 100%;
  overflow: hidden;
}
.press-release-time-company > p {
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.press-release-time-company > time {
  white-space: nowrap;
  font-size: 12px;
  color: var(--gray);
  display: flex;
  align-items: center;
}

.press-release-time-company time::before {
  content: url(https://prtimes.jp/src/images/prtimes-jp/html/icon_time.svg);
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.press-release-list > button {
  align-self: center;
  background-color: var(--light-blue);
  width: 110px;
  height: 38px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  margin-top: 30px;
}

.side-keyword-content {
  width: 312px;
  height: auto;
}
.side-keyword-content > h2 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 30px;
}
.side-keyword-content > ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 10px 9px;
}
.side-keyword-content > ul > li {
  background-color: #f1f1f1;
  font-size: 12px;
  font-weight: 400;
  border-radius: 14px;
  padding: 2px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-keyword-content > ul > li:last-child {
  background-color: #ffffff;
  border: 1px solid #f1f1f1;
}

#footer {
  background-color: #fafafa;
}
.footer-inner {
  width: var(--content-width);
  margin: 0 auto;
  display: flex;
  margin-top: 40px;
  gap: 130px;
}
.footer-inner h3 {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 15px;
}
.footer-inner li {
  font-weight: 400;
  font-size: 12px;
  color: #797979;
}
.footer-inner ul {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
#footer hr {
  border: 1px solid #e0e0e0;
  width: var(--content-width);
  margin: 25px auto 10px;
}
.recommend-description-container {
  display: flex;
  flex-direction: column;
}
.recommend-description-items {
  display: flex;
  gap: 50px;
}
.lowest-footer {
  font-size: 12px;
  color: #797979;
  width: var(--content-width);
  margin: 0 auto;
}
.lowest-footer > ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.lowest-footer > p {
  margin-top: 10px;
}
