#container {
  display: grid;
  max-height: 1574px;
  width: 100vw;
  grid-template-rows: 75px 36px 263px auto 356px;
}

#header {
  background-color: antiquewhite;
}

#category-header {
  background-color: gray;
}

#ranking {
  background-color: aqua;
}

#main {
  height: 1127px;
  width: 78%;
  display: flex;
  margin: 0 auto;
}

.content-list {
  background-color: red;
  width: 70%;
  height: auto;
}
.side {
  background-color: blue;
  width: 30%;
  height: auto;
}

#footer {
  background-color: darkorange;
}
